
<div class="container">
<br></br><br></br>
      <h3>従業員情報</h3>
<!--カラム名表示-->
    <table class="table table-hover">
      <thead>
        <th>
          <th>従業員コード</th>
          <th>氏名</th>
          <th>部</th>
          <th>課</th>
          <th colspan="3"></th>
        </th>
      </thead>

         
          <!--リスト表示-->
      <% @employee.each do |employee| %>
        <tbody>
          <th>
            <div class="posts-index-item">
              <%= link_to(employee.j_code, "/employees/#{employee.id}") %>
              <%= link_to(employee.name, "/employees/#{employee.id}") %>
              <%= link_to(employee.department, "/employees/#{employee.id}") %>
              <%= link_to(employee.section, "/employees/#{employee.id}") %>
            </div>
          </th>
        </tbody>
      <% end %>
    </table>
</div>