<div class="container">
    <h3>管理者用ページ</h3>
    <p>このページからは従業員情報の登録/変更が行えます</p>
    <button class="cp_button12" onclick="location.href='/employees/registration'">新規登録</button>

  <table id="dtBasicExample" class="tbset table table-hover table table-sm" cellspacing="0" width="100%">
  <!--カラム名表示-->
    <thead>
      <tr>
        <th class="th-sm">従業員コード</th>
        <th class="th-sm">氏名</th>
        <th class="th-sm">部署</th>
        <th class="th-sm">課</th>
      </tr>
    </thead>

    <% @employee.each do |employee| %>
      <tr>
        <td><%= link_to(employee.j_code, "/employees/#{employee.id}") %></td>
        <td><%= link_to(employee.name, "/employees/#{employee.id}") %></td>
        <td><%= link_to(employee.department, "/employees/#{employee.id}") %></td>
        <td><%= link_to(employee.section, "/employees/#{employee.id}") %></td>
      </tr>
    <% end %>
  </table>
</div>