<body class="text-center">
  <%= form_tag("/login", class: "signin") do %>
    <%= image_tag('login_icon.png', :size => '120x120')%>
    <h1 class="h3 mb-3 font-weight-normal">資格管理システム</h1>
    <!--エラー表示用-->
    <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>

    <!--入力フォーム-->
    <input value="<%= @user_id %>" name="user_id" type="text" id="inputEmail" class="form-control" placeholder="従業員コード" required autofocus>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="パスワード" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:#00bfff" >サインイン</button>
    <% end %>
    <p class="mt-5 mb-3 text-muted">&copy; 影山鉄工所</p>
    <p class="mt-5 mb-3 text-muted">Ver, 1.0.1 </p>
</body>