<div class="container">  
  <%= form_tag("/posts/create", id: "contact") do %>
    <h3>取得登録</h3>
    <h4>新規取得情報を登録します</h4>
    <fieldset>
      <input class="col-sm-5" name="license_name" placeholder="取得した資格名を入力" type="text" required autofocus>
    </fieldset>
    <fieldset>
      <input class="col-sm-5" name="holder_name" placeholder="資格取得者の氏名を入力" type="text" required>
    </fieldset>
    <fieldset>
      <input class="col-sm-5" name="date_of_license" placeholder="取得日を入力" type="text" required>
    <fieldset>
      <button class="col-sm-2" type="submit">登録</button>
    </fieldset>
  <% end %>
</div>