
/*アラート使用*/
.alert {
	text-align: center;
}
.alert-info {
    background-color: #bde9ff;
    border-color: #bde9ff;
    color: #4c6977;
}
 
.alert-danger {
    background-color: #f3c0c0;
    border-color: #f3c0c0;
    color: #3e3a3a;
}

/*リンク色調整*/
  a {  color: #00a8eb;  }
  a:link {  color: #00a8eb;  }
  a:visited {  color: #00a8eb;  }
  a:hover {  color:#eba286;   }  
  a:active {  color:#bcddeb;  }

  /*boot strapインポート　消さない*/
 @import "bootstrap";

